    #container

    {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    #logo

    {
     background-color: sandybrown;
        color: white;
        text-align: center;
        padding: 20px;

    }

    #nav
    {
    float: left;
    list-style-type: circle;
    background-color: aqua;
        width: 120px;
        min-height: 620px;
        padding: 10px;

    }

    #content
    {
    float: left;
    padding: 20px;
    width: 640px;
    }
    #ad

    {
    float: left;
    width: 160px;
    min-height: 610px;
    padding: 10px;
    background-color: grey;
    }
    #footer

    {
    clear: both;
    background-color: black;
    color: white;
    font-style: oblique;
    text-align: center;
    padding: 15px;
    }



    img {
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.25); }


.img {
    width: 25%;
    float: left;
}
.img img {
    transition: transform .5s ease-in-out;
}
.img:hover img {
    transform: scale( 2 );
}
.firms {
    clear: both;
}
.firms::after {
    clear: both;
    display: table;
    content: '';
}

.firms img {
    float: left;
}

.firms img:nth-of-type(5n) {
    clear: left;
}
